<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Wilkommen, bienvenue, and welcome to Heroku!</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          
          <p>
            <br/>
            <a href="/about">Back To Ticker Lookup</a>
          </p>
        </div>
        
      </div>
      <p>Closing Price Plot</p>

    <!-- <img src= {{ url }} alt="Chart" height="42" width="42"> -->
    <!-- <img src=  '/public/plot.png'  > -->
    <img src="data:image/png;base64, {{ plot_url }}">


  <!doctype html>

    

    </div>

   


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  </body>
</html>
